@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    user-select: none;
    overflow-x: hidden;
}

body {
    font-size: 1.6em;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    background: #43cea2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
textarea,
button,
select,
details,
a {
    -webkit-tap-highlight-color: transparent;
}