.slider {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 80%;
    max-width: 32rem;
    height: 100vh;
    background-color: $white-color;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.4);
    border-radius: 0 0 $radius 0;
    transform: translateX(-110%);
    transition: transform 0.4s cubic-bezier(0.73, 0.11, 0.67, 0.84);

    &__top {
      position: relative;
      @include background-special;
      width: 100%;
      padding: 7rem 2rem;
      border-radius: 0 0 0 $radius;
    }
    &__top::after,&__top::before{
      content: '';
      position: absolute;
      bottom: -50px;
      right: 0;
      height: 50px;
      width: 50px;
      background-color: $secondary-color;
    }
    &__top::after{
      background-color: $white-color;
      border-radius:  0 $radius 0 0;
    }
    &__bot {
      flex: 1;
      height: 10rem;
      width: 100%;
      background-color: $white-color;
    }
    .cityName {
      font-size: 2.8rem;
    }
    .min-max {
      margin-top: 1.5rem;
    }
    button {
      cursor: pointer;
    }
}
.slider.active {
    transform: translateX(0);
}

.slider-btn {
    position: relative;
    z-index: 10;
    height: 3rem;
    width: 3rem;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
  }
  .slider-btn .line {
    position: absolute;
    display: block;
    width: 100%;
    height: 0.2rem;
    background: $white-color;
    transition: transform 0.3s ease-out, opacity 0.1s ease-out;
  }
  .slider-btn .l1 {
    transform: translateY(-0.8rem);
  }
  .slider-btn .l3 {
    transform: translateY(0.8rem);
  }
  .slider-btn.active .l1 {
    transform: translateY(0) rotate(135deg);
  }
  .slider-btn.active .l2 {
    opacity: 0;
  }
  .slider-btn.active .l3 {
    transform: translateY(0) rotate(-135deg);
  }