.main {
    @include container;
    margin-bottom: 3rem;
}

// BOXES CURRENT
.boxes__current {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .icon-container {
        position: relative;
        width: 6.4rem;
        height: 6.4rem;
        .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    .box:nth-child(1) .icon {
        width: 130%;
    }
    .box:nth-child(2) .icon {
        width: 70%;
    }
    .box:nth-child(3) .icon {
        width: 180%;
    }
    .box:nth-child(4) .icon {
        width: 140%;
    }
    .box span {
        color: #ddd;
        font-weight: 400;
    }
}

@media screen and (min-width:700px) {
    .boxes__current {
        grid-template-columns: repeat(4, 1fr);
    }
}

// BOXES HOUR
#boxes__3H, #boxes__day {
    margin-top: 1.5rem;
    border-top: 2px dashed rgba(255, 255, 255, 0.6);
    padding: 1.5rem 0 0;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(36, 1fr);
    gap: 2px;
    scroll-snap-type: x mandatory;
    .box {
        scroll-snap-align: start;
    }
    .date {
        font-size: 1.2rem;
        color: #ddd;
        margin: .5rem 0;
    }
    .hour {
        font-weight: 400;
    }
    .temp-hour {
        font-size: 1.8rem;
    }
}

@media screen and (min-width:700px) {
    #boxes__3H, #boxes__day {
        grid-template-columns: repeat(6, 1fr);
        gap: 10px;
    }
}